obsidian/
btop/*
!btop/btop.conf
!btop/themes
litecli/*
!litecli/config
pgcli/*
!pgcli/config
vscode/*
!vscode/keybindings.json
!vscode/settings.json
__pycache__/
qutebrowser/*
!qutebrowser/config.py
!qutebrowser/quickmarks
!qutebrowser/searchengines
!qutebrowser/userscripts/
!qutebrowser/autoconfig.yml
TODO.md
tmux/plugins
vifminfo*
*.o
zed/*
!zed/settings.json
!zed/keymap.json
!zed/tasks.json
ipython/profile_default/*
ipython/.config/ipython/profile_default/*
!ipython/.config/ipython/profile_default/ipython_config.py
pgcli/.config/pgcli/config
pgcli/config
zsh/.zcompdump
zsh/.zsh_history
vscode/*
!vscode/settings.json
!vscode/keybindings.json
./scripts/.birthday.txt
./scripts/.birthday-notifications.log
opencode/bun.lock
opencode/node_modules/
opencode/package.json
.cache
**/mpv/*.log
emacs/**
!emacs/.config/
!emacs/.config/emacs/
!emacs/.config/emacs/init.el
!emacs/.config/emacs/init.org
!emacs/.config/emacs/CHANGELOG.org
!emacs/.config/emacs/early-init.el
!emacs/.config/emacs/custom-vars.el
!emacs/.config/emacs/LICENSE
!emacs/.config/emacs/README
!emacs/.config/emacs/lisp/

scripts/.local/bin/tmux_flower_api.sh
jj/.config/jj/repos/
